body {
  background-color: #383838;
  color: #c7c7c7;
  margin: 10px;
  height: calc(100vh - 20px);

  display: grid;
  grid-template-rows: 2fr min-content;
  grid-template-columns: min-content 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 10px;
  row-gap: 10px;
}

.action__display {
  border: 1px solid white;
  cursor: pointer;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.plugin-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.plugin-title__icon {
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.plugin-title__name {
  font-weight: bold;
}

.plugin-action-list {
  margin-top: 10px;
}

.plugin-action {
  display: flex;
}

.plugin-action__icon {
  margin-right: 10px;
}

.log {
  height: 100%;
  overflow: auto;

  // the following styles override the ones from @livy/html-pretty-formatter
  // as they're inline styles, we need the !importants :sadpanda:
  [role="listitem"] {
    background: #242424 !important;

    > span:nth-child(2) {
      color: #c6c6c6 !important;
    }

    div:nth-child(4) {
      overflow: auto;
    }
  }
}
